.navigation {
  &__bar {
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
  &__item {
    display: inline-block;
    //overflow: hidden;
    &:hover {
      &:after {
        //transform: translateX(0);
        animation-name: slide;
        animation-timing-function: ease-out;
        animation-duration: 0.3s;
        transform: translateX(0);
        opacity: 1;
      }
    }
    &:after {
      content: "";
      display: block;
      border-bottom: 2px solid #fff;
      transform: translateX(-100%);
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }
    & + .navigation__item {
      margin-left: $inuit-base-spacing-unit;
    }
  }
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(-100%);
  }

  20% {
    -webkit-transform: translateX(-75%);
  }

  40% {
    -webkit-transform: translateX(-50%);
  }

  60% {
    -webkit-transform: translateX(0);
  }

  80% {
    -webkit-transform: translateX(-25%);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
