<!-- Capture and store a URL -->
{% capture location %}{{ page.url | split:'/' }}{% endcapture %}
<header class="header text--center" role="banner">
  <div class="header__wrapper">
    <div>
      <section class="hero row">
        <div class="hero-grid large-6 large-centered columns">
          <div class="hero-holder">
            <div class="hero-inner">
              <div "hero-title-wrapper">
                <h1 class="hero-title font--primary">Welcome to the jungle.</h1>
              </div>
              <div class="hero-description-wrapper">
                <span class="hero-description font--secondary uppercase">The best web developer in the world.</span>
              </div>
              <div class="hero-btn-wrapper">
                <span class="hero-btn-holder">
                  <a class="hero-btn uppercase">Click here</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</header>
