<!-- Capture and store a URL -->
{% capture location %}{{ page.url | split:'/' }}{% endcapture %}
<header class="header text--center page-wrap u-1/1" role="banner">
  <div class="header__wrapper">
    <div>
      <section>
        <h1 class="header__title font--primary">Ezeikel Pemberton</h1>
        <h3 class="header__subtitle font--primary font--primary--light">Web Developer x Photographer</h3>
      </section>
      <nav class="navigation" role="navigation">
        <ul class="navigation__bar font--primary font--primary--light">
          {% for page in site.pages %}
          <!-- Compare the page title to the URL -->
          {% assign current = page.title | downcase %}
            {% if page.title %}
            <li {% if location == current %} class="navgation__item current" {% else %}
            class="navigation__item" {% endif %} >
              <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>
