.posts-grid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .grid-item {
    //background: grey;
    margin: 10px;
    width: 350px;
    &__image {
      width: 100%;
      max-width: 100%;
    }
  }
}

.article-title {
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  &:hover {
    color: lighten(#000, 35%);
  }
}

.article-excerpt {
  color: #6d6d6d;
  font-size: 17px;
}

.article-meta {
  //font-size: 14px;
  color: #818181;
  //letter-spacing: -1px;
  .fa {
    margin-right: 10px;
  }
}
// TODO: Copy this site
// http://callmenick.com/
