.home {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.posts-grid {
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //align-items: center;
  align-content: flex-start;
  height: 100vh;
  //font-size: 0;
  //margin: 10px;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  .grid-item {
    position: relative;
    display: table;
    margin: 0 auto;
    margin-top: 25px;
    width: 350px;
    max-width: 100%;
    overflow: hidden;
    &:hover .grid-item__text {
      transform: translateY(0%);
    }
    &__image {
      width: 100%;
      max-width: 100%;
    }
    &__text {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      position: absolute;
      top: 0;
      text-align: center;
      transition: all 0.3s ease-in-out;
      transform: translateY(-100%);
      background: #96281B;
      height: 100%;
      color: #fff;
      font-weight: bold;
      //opacity: 0.5;
      article {
        display: table;
        height: 100%;
        text-align: center;
        width: 100%;
        h2 {
          display: table-cell;
          vertical-align: middle;
        }
        a {
          color: #fff;
          border-bottom: 2px solid #fff;
          &:hover {
            color: #fff;
            //border-bottom: 2px solid #fff;
          }
        }
      }
    }
  }
}

.article-title {
  font-size: 1.5em;
  line-height: 26px;
  text-transform: uppercase;
  &:hover {
    color: lighten(#000, 35%);
  }
}

.article-excerpt {
  color: #6d6d6d;
  font-size: 17px;
}

.article-meta {
  //font-size: 14px;
  color: #818181;
  //letter-spacing: -1px;
  .fa {
    margin-right: 10px;
  }
}
// TODO: Copy this site
// http://callmenick.com/
