header {
  &.main-header {
    background-color: #16a085;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.3;
    h1 {
      font-size: 1.8rem;
      margin-bottom: 0;
    }
    h3 {
      margin-top: 0;
    }
  }
}
