nav.navbar {
  ul.nav {
    margin-top: 0;
    margin-bottom: 0;
    li.nav__item {
      display: inline;
      + li.nav__item {
        margin-left: 10px;
      }
      a {
        color: #fff;
      }
    }
    & .current{
      a {
        border-bottom: 2px solid #fff;
      }
    }
  }
}
