.bg--white {
	background: #fff !important;
}

.bg--dark-green {
	background: $primary-color-dark-green !important;
}

.bg--light-grey {
	background: $secondary-color-light-grey !important;
}

.bg--light-brown {
    background: $secondary-color-light-brown!important;
}
