.color--green {
    color: $primary-color-green !important;
}

.color--light-green {
    color: $primary-color-light-green !important;
}

.color--dark-green {
    color: $primary-color-dark-green !important;
}

.color--red {
    color: $primary-color-red !important;
}


.color--light-brown {
    color: $secondary-color-light-brown !important;
}


.color--light-grey {
    color: $secondary-color-light-grey !important;
}

.color--dark-grey {
    color: $secondary-color-dark-grey !important;
}

.color--white {
    color: #fff !important;
}
