.font--primary {
	font-family: "BrownStdLight" !important;
	font-weight: 300 !important;
}

.font--secondary {
	font-family: "BrownStdThin" !important;
	font-weight: 700 !important;
}

.font--tertiary {
	font-family: "Didot" !important;
	font-style: italic !important;
}
