.font--primary {
	font-family: "Open Sans", "sans-serif" !important;
	font-weight: 500 !important;
}

.font--secondary {
	font-family: "Lora", "serif" !important;
	font-weight: 300 !important;
}

.font--tertiary {
	font-family: "Didot" !important;
	font-style: italic !important;
}
