.p-home {
  .home {
    display: grid;
    grid-template-columns: 1fr;
    @media (min-width: $bp-md) {
      grid-template-columns: 1fr 1fr;
    }
    li {
      line-height: 25px;
      font-weight: 300;
    }
    &__blog-roll, &__about-me {
      min-height: 100vh;
      padding: var(--spacing-large);

    }
    &__about-me {
      display: grid;
      grid-gap: var(--spacing-medium);
      background-color: var(--color-white);
      color: var(--color-black);
      .about-me {
        &__heading {
          text-align: center;
        }
        &__sub-heading {
          text-align: center;
          color: var(--color-primary);
          font-weight: 300;
        }
        &__skills {
          display: grid;
          grid-template-columns: 150px;
          grid-template-rows: 25px;
          justify-content: center;
          text-align: center;
          ul {
            position: relative;
            height: 100%;
            margin-bottom: 0;
          }
          li {
            position: absolute;
            background-color: var(--color-primary);
            color: var(--color-white);
            width: 100%;
          }
        }
        &__social-links {
          display: flex;
          justify-content: center;
          a + a {
            margin-left: var(--spacing-medium);
            cursor: pointer;
          }
        }
        &__scroll-down {
          display: grid;
          grid-template-rows: 1fr 1fr;
          justify-content: center;
          i {
            color: var(--color-primary);
            animation: bounce 1.5s ease-in-out infinite;
          }
          @media (min-width: $bp-md) {
            display: none;
          }
        }
        &__copy-container {
          display: grid;
          grid-gap: var(--spacing-large) 0;
        }
        &__intro {
          line-height: 25px;
          .available {
            color: var(--color-white);
            background: var(--color-available);
            padding: var(--spacing-tiny);
            cursor: pointer;
            a {
              color: var(--color-white);
            }
          }

          .unavailable {
            color: var(--color-white);
            background: var(--color-unavailable);
            padding: var(--spacing-tiny);
            a {
              color: var(--color-white);
            }
          }
        }
        &__projects {
          display: grid;
          grid-gap: var(--spacing-medium) 0;
          .projects {
            &__list {
              display: grid;
              grid-gap: var(--spacing-medium) 0;
              margin-bottom: 0;
            }
          }
          .project {
            &__name {
              @include keyline-top(var(--color-primary), var(--spacing-tiny), 100%);
            }
          }
        }
        &__experience {
          display: grid;
          grid-gap: var(--spacing-medium) 0;
          .experience {
            &__previous-companies {
              display: grid;
              grid-gap: var(--spacing-medium);
              margin-bottom: 0;
              .previous-company {
                &__name {
                  @include keyline-top(var(--color-primary), var(--spacing-tiny), 100%);
                }
              }
              p {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
    &__blog-roll {
      display: grid;
      grid-template-rows: auto 1fr;
      grid-gap: var(--spacing-huge);
      background-color: var(--color-primary);
      color: var(--color-white);
      .blog-roll {
        &__heading {
          text-align: center;
        }
        &__posts {
          display: grid;
          grid-gap: var(--spacing-large);
          margin-bottom: 0;
        }
        &__post {
          display: grid;
          grid-gap: var(--spacing-tiny);
          .post {
            &__date {
              display: inline-block;
              font-size: 16px;
            }
            &__title {
              @include keyline-top(var(--color-white), var(--spacing-medium), 80px);
              @media (min-width: $bp-lg) {
                @include keyline-top(var(--color-white), var(--spacing-small), 80px);
                margin-bottom: 0;
                overflow: hidden;
                &:after {
                  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
                  transform: translateX(-60vw);
                  opacity: 0;
                }
                &:hover {
                  &:after {
                    transform: translateX(0);
                    opacity: 1;
                  }
                }
              }
            }
            &__link {
              color: var(--color-white);
            }
            &__meta {
              display: block;
            }
          }
        }
      }
    }
  }
}
