$primary-color-dark-green: #0c201c;
$primary-color-green: #0b4530;
$primary-color-red: #fc3d28;
$primary-color-light-green: #c5f7d1;

$secondary-color-light-grey: #f4f4f4;
$secondary-color-light-brown: #ac9f91;
$secondary-color-dark-grey: #3f423f;


$primary-color: #16a085;
