// Iconmoon

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?qbh8qn');
	src:url('../fonts/icomoon.eot?qbh8qn#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?qbh8qn') format('truetype'),
		url('../fonts/icomoon.woff?qbh8qn') format('woff'),
		url('../fonts/icomoon.svg?qbh8qn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
