* {
  box-sizing: border-box;
  font-family: "Open Sans";
  font-weight: 300;
  text-align: center;
  list-style-type: none;
}
img {
  max-width: 100%;
}

ul {
  padding: 10px;
}

a {
  text-decoration: none;
}
