.header {
  padding-top: 90px;
  .hero {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url("../img/hero2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    &-grid {
      height: 100vh;
    }
    &-holder {
      display: table;
      height: 100%;
    }
    &-inner{
      display: table-cell;
      vertical-align: middle;
    }
    &-title {
      font-size: 7em;
      color: #fff;
      text-transform: none;
    }
    &-description {
      color: #fff;
      letter-spacing: 0.5px;
      font-size: 0.857em;
      margin: 0 auto;
      display: inline-block;
      padding-bottom: 5px;
    }
    &-btn {
      font-size: 0.786em;
      padding: 8px 12px;
      border: 1px solid #fff;
      color: #fff;
      transition: all 0.2s ease-in-out;
      &:hover {
        background: #fff;
        color: #333;
      }
      &-wrapper {
        margin-top: 20px;
      }
    }
  }
  .nav-menu {
    background: tomato;
    position: fixed;
    top: 0;
    height: 90px;
    width: 100%;
    z-index: 10;
    ul {
      display: inline-block;
      //float: left;
      margin-left: 0;
      margin-top: 16px;
    }
    ul > li {
      display: inline-block;
      + li {
        margin-left: 5px;
      }
    }
  }
}
