.landing {
    display: flex;
    flex-direction: column;
    @media (min-width: $breakpoint-tablet) {
        flex-direction: row;
    }
    .landing__blog-posts {
        background-color: $color-primary;
        color: $color-white;
    }
    .landing__about-me {
        background-color: $color-white;
        color: $color-black;
        i {
            color: $color-black;
            &.fa-chevron-down {
                position: absolute;
                bottom: 50px;
                left: 50%;
                color: $color-primary;
                animation: bounce 1.5s ease-in-out alternate infinite;
                @media (min-width: $breakpoint-tablet) {
                    display: none;
                }
            }
        }
        .projects {
          margin-top: 30px;
        }
        .projects__title {
          position: relative;
          padding-bottom: 5px;
          font-size: em(22px);
          line-height: 2.1rem;
          font-weight: 600;
          display: inline-block;
          &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            height: 3px;
            width: 100%;
            background-color: $color-primary;
          }
        }
        .projects__list {
          list-style-type: none;
          padding: 0;
          line-height: 1.5em;
          .project > span {
            display: inline-block;
            width: 100%;
          }
        }
        .social-links {
            display: flex;
            i {
                color: $color-black;
                transition: color 0.3s ease-in-out;
                &:hover {
                    color: $color-primary;
                }
            }
            a + a {
                margin-left: 20px;
            }
            @media (min-width: $breakpoint-tablet) {
              position: absolute;
              bottom: 0;
              margin-top: 50px;
              margin-bottom: 50px;
            }
        }

    }
    .landing__about-me,
    .landing__blog-posts {
        padding: 25px;
        min-height: 100vh;
        width: 100%;
        @media (min-width: $breakpoint-tablet) {
            width: 50%;
        }
        .heading {
            font-weight: 400;
            text-align: center;
        }
        .sub-heading {
            margin-top: 20px;
            font-weight: 200;
            text-align: center;
        }
        .intro {
            margin-top: 20px;
            margin-bottom: 0;
            font-size: em(19px);
            @media (min-width: $breakpoint-desktop) {
                margin-top: 50px;
                text-align: center;
            }
        }
    }
    .posts-preview {
        display: flex;
        flex-direction: column;
        @media (min-width: $breakpoint-mobile) {
            flex-direction: row;
            flex-wrap: wrap;
        }
        .post-preview__container {
            border-radius: 4px;
            width: 100%;
            @media (min-width: $breakpoint-desktop) {
                width: 50%;
            }
        }
    }
    .post-preview__post {
        position: relative;
        margin: em(10px);
    }
    .post-preview__link {}
    .post-preview__content {
        background: $color-white;
        border-radius: 0 0 4px 4px;
        height: auto;
        min-height: 9.2em;
        padding: 30px;
        overflow: hidden;
        @media (min-width: $breakpoint-desktop) {
            padding: 20px;
        }
        .post-preview__title {
            display: inline-block;
            position: relative;
            font-size: em(22px);
            font-weight: 300;
            text-align: center;
            margin-bottom: em(5px);
            padding-bottom: 5px;
            @media (min-width: $breakpoint-desktop) {}
            &:after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                height: 1.5px;
                width: 100%;
                background-color: $color-primary;
                @media (min-width: $breakpoint-desktop) {
                    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
                    transform: translateX(-100%);
                    opacity: 0;
                }
            }
            &:hover {
                @media (min-width: $breakpoint-desktop) {
                    //transform: scale(1.1);
                    transition: transform 0.3s ease-in-out;
                }
                &:after {
                    @media (min-width: $breakpoint-desktop) {
                        transform: translateX(0);
                        opacity: 1;
                    }
                }
            }
        }
        .post-preview__summary {
            font-weight: 200;
            color: lighten($color-black, 45%);
        }
    }
    .post-preview__image {
        display: block;
        height: em(244.8px);
        width: 100%;
        border-radius: 4px 4px 0 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .tom {
        background-color: tomato;
    }
}
@keyframes bounce {
    0% {
        transform: translateY(0%) translateX(-50%);
    }
    50% {
        transform: translateY(100%) translateX(-50%);
    }
    100% {
        transform: translateY(0%) translateX(-50%);
    }
}
