.p-post {
  padding: var(--spacing-medium);
  @media (min-width: $bp-lg) {
    max-width: 740px;
    margin: 0 auto;
  }
  .post {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: var(--spacing-large);
    &__header {
      display: grid;
      grid-gap: var(--spacing-medium);
    }
    &__meta {
      color: var(--color-primary);
      @media (min-width: $bp-lg) {
      }
    }
    &__img {
      height: 100%;
      min-height: 350px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &__content {
      display: grid;
      grid-gap: var(--spacing-large);
      p {
        margin-bottom: 0;
      }
      h2 {
        @include keyline-top(var(--color-primary), var(--spacing-medium), 80px);
      }
      a {
        color: var(--color-primary);
        text-decoration: underline;
      }
      ul {
        display: grid;
        grid-gap: var(--spacing-small);
      }
      img {
        height: 80px;
        width: 80px;
        margin-bottom: var(--spacing-medium);
        & + img {
          margin-left: var(--spacing-medium);
        }
      }
      @media (min-width: $bp-lg) {
        padding-top: 0;
      }
    }
  }
}
