.p-post {
  .post {
    &__title {
      margin-top: 30px;
      margin-bottom: 15px;
    }
    &__meta {
      color: $color-primary;
      @media (min-width: $bp-lg) {
        margin-bottom: 30px;
      }
    }
    &__img {
      height: 100%;
      min-height: 350px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &__content {
      margin-bottom: 30px;
      padding-top: 30px;
      @media (min-width: $bp-lg) {
        padding-top: 0;
        margin-bottom: 60px;
      }
    }
  }
}
