<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="p-home container-fluid">
      <div class="home row">
        <section class="home__about-me col-sm-12 col-md-6">
          <h1 class="about-me__heading">Ezeikel Pemberton</h1>
          <h3 class="about-me__sub-heading"><span>Front End Developer</span></h3>
          <div class="about-me__skills">
            <ul>
              <li>HTML</li>
              <li>CSS</li>
              <li>JS</li>
              <li>ES6</li>
              <li>SASS</li>
              <li>LESS</li>
              <li>Stylus</li>
              <li>BEM</li>
              <li>Vanilla JS</li>
              <li>jQuery</li>
              <li>Webpack</li>
              <li>React</li>
              <li>Angular 4</li>
              <li>AngularJS</li>
              <li>BackboneJS</li>
              <li>HandlebarsJS</li>
              <li>Gulp</li>
              <li>Grunt</li>
              <li>Git</li>
              <li>SVN</li>
              <li></li>
            </ul>
          </div>
          <div class="about-me__social-links">
            <a class="about-me__social-link" href="http://www.github.com/ezeikel"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
            <a class="about-me__social-link" href="https://uk.linkedin.com/in/ezeikel-pemberton-5bb53728"><i class="about-me__social-link fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
            <a class="about-me__social-link" href="http://www.twitter.com/ezeikel_"><i class="about-me__social-link fa fa-twitter fa-2x" aria-hidden="true"></i></a>
          </div>
          <div class="about-me__scroll-down">
            <i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i>
          </div>
          <div class="about-me__copy-container">
            <div class="about-me__intro">
              <p class="about-me__intro">Hi, my name is Ezeikel and I am a Front End Developer with a real passion for JavaScript and beautiful UI.</p><p>After a few years of working on a permanent basis in the fast paced and demanding environment of Digital Agencies, I'm now freelancing and currently <span class="unavailable"><a href="mailto:ezeikelpemberton@gmail.com?subject=Work">unavailable</a></span> for new contracts until April 2017.</p>
            </div>
            <div class="about-me__experience">
              <h4 class="experience__title">Experience</h4>
              <ul class="experience__previous-companies">
                <li>
                  <ul class="previous-company">
                      <li class="previous-company__name">Tribal Worldwide</li>
                      <li class="role">Midweight Front End Developer</li>
                  </ul>
                </li>
                <li>
                  <ul class="previous-company">
                    <li class="previous-company__name">SYZYGY</li>
                    <li class="role">Senior Front End Developer</li>
                  </ul>
                </li>
                <li>
                  <ul class="previous-company">
                    <li class="previous-company__name">Cohaesus</li>
                    <li class="role">Midweight Front End Developer</li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="about-me__projects">
              <h4 class="projects__title">Projects</h4>
              <ul class="projects__list">
                <li class="project">
                  <ul class="project__info">
                    <li class="project__name">Ezeikel Pemberton Photography</li>
                    <li class="project__tech">Angular 4, Typescript, RESTful API, SASS</li>
                    <li class="project__github-link"><a href="https://github.com/ezeikel/ezeikel-pemberton-photography-web">Repo <i class="fa fa-code-fork" aria-hidden="true"></i></a></li>
                    <li class="project__demo-link"><a href="http://ezeikelpemberton.com">Demo <i class="fa fa-link" aria-hidden="true"></i></a></li>
                  </ul>
                </li>
                <li class="project">
                  <ul class="project__info">
                    <li class="project__name">Just Cut</li>
                    <li class="project__tech">React, Redux, Node, Express, MongoDB</li>
                    <li class="project__github-link"><a href="https://github.com/ezeikel/just-cut-web">Repo <i class="fa fa-code-fork" aria-hidden="true"></i></a></li>
                    <li class="project__demo-link"><a href="https://github.com/ezeikel/just-cut-web">Demo <i class="fa fa-link" aria-hidden="true"></i></a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <section class="home__blog-roll col-sm-12 col-md-6">
            {{ content }}
        </section>
      </div>
    </div>
    {% include scripts.html %}
  </body>
</html>
