<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="p-home">
      <div class="home">
        <section class="home__about-me">
          <h1 class="about-me__heading">Ezeikel Pemberton</h1>
          <h5 class="about-me__sub-heading"><span>Fullstack JavaScript Developer</span></h5>
          <div class="about-me__skills">
            <ul>
              <li>HTML</li>
              <li>CSS</li>
              <li>JS</li>
              <li>ES6+</li>
              <li>SASS</li>
              <li>LESS</li>
              <li>Stylus</li>
              <li>BEM</li>
              <li>Vanilla JS</li>
              <li>jQuery</li>
              <li>Webpack</li>
              <li>React</li>
              <li>Angular 5</li>
              <li>AngularJS</li>
              <li>BackboneJS</li>
              <li>HandlebarsJS</li>
              <li>NodeJS</li>
              <li>ExpressJS</li>
              <li>MongoDB</li>
              <li>Gulp</li>
              <li>Grunt</li>
              <li>Git</li>
              <li>SVN</li>
            </ul>
          </div>
          <div class="about-me__social-links">
            <a class="about-me__social-link" href="http://www.github.com/ezeikel"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
            <a class="about-me__social-link" href="https://uk.linkedin.com/in/ezeikel-pemberton-5bb53728"><i class="about-me__social-link fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
            <a class="about-me__social-link" href="http://www.twitter.com/ezeikel_"><i class="about-me__social-link fa fa-twitter fa-2x" aria-hidden="true"></i></a>
          </div>
          <div class="about-me__scroll-down">
            <i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i>
          </div>
          <div class="about-me__copy-container">
            <div class="about-me__intro">
              <p class="about-me__intro">Hi, my name is Ezeikel and I am a Fullstack Developer with a real passion for JavaScript and beautiful UI.</p><p>Currently freelancing at some dope companies, working on some challenging projects and creating some great web apps. My availability for new contracts varies but I am currently <span class="unavailable"><a href="mailto:ezeikelpemberton@gmail.com?subject=Front End Work">unavailable</a></span> for new contracts until May 2018.</p>
            </div>
            <div class="about-me__experience">
              <h4 class="experience__title">Experience</h4>
              <ul class="experience__previous-companies">
                <li>
                  <ul class="previous-company">
                      <li class="previous-company__name"><a href="http://www.discoveryeducation.com/">Discovery Education</a></li>
                      <li class="role">Front End Developer</li>
                  </ul>
                </li>
                <li>
                  <ul class="previous-company">
                      <li class="previous-company__name"><a href="https://www.superunion.com/">Superunion (formerly Addison Group)</a></li>
                      <li class="role">Front End Developer</li>
                  </ul>
                </li>
                <li>
                  <ul class="previous-company">
                    <li class="previous-company__name"><a href="http://machine.earth/">Machine Earth</a></li>
                    <li class="role">Front End Developer</li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="about-me__projects">
              <h4 class="projects__title">Projects</h4>
              <ul class="projects__list">
                <li class="project">
                  <ul class="project__info">
                    <li class="project__name"><a href="http://ezeikelpemberton.com/#/home">Ezeikel Pemberton Photography</a></li>
                    <li class="project__tech">Angular 5, Typescript, RESTful API, Firebase 🔥</li>
                    <li class="project__github-link"><a href="https://github.com/ezeikel/ezeikel-pemberton-photography-web">Repo <i class="fa fa-code-fork" aria-hidden="true"></i></a></li>
                    <li class="project__demo-link"><a href="http://ezeikelpemberton.com">Demo <i class="fa fa-link" aria-hidden="true"></i></a></li>
                  </ul>
                </li>
                <li class="project">
                  <ul class="project__info">
                    <li class="project__name"><a href="https://just-cutt.herokuapp.com/">Just Cutt</a></li>
                    <li class="project__tech">React, Redux, GraphQL API, Node, Express, MongoDB</li>
                    <li class="project__github-link"><a href="https://github.com/ezeikel/just-cutt-web">Repo <i class="fa fa-code-fork" aria-hidden="true"></i></a></li>
                    <li class="project__demo-link"><a href="https://just-cutt.herokuapp.com/">Demo <i class="fa fa-link" aria-hidden="true"></i></a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <section class="home__blog-roll">
            {{ content }}
        </section>
      </div>
    </div>
    {% include scripts.html %}
  </body>
</html>
