<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="page-wrap landing">
      <section class="landing__about-me">
        <h1 class="heading">Ezeikel Pemberton</h1>
        <h3 class="sub-heading"><span class="border">Front End Developer</span></h3>
        <p class="intro">Hi, my name is Ezeikel and I am a Front End Developer with a real passion for JavaScript and beautiful UI.</p><p class="intro">After a few years of working on a permanent basis in the fast paced and demanding environment of Digital Agencies, I'm now freelancing and currently <span class="available"><a href="mailto:ezeikelpemberton@gmail.com?subject=Work">available</a></span> for new contracts.</p>
        <div class="experience">
          <h4 class="experience__title">Experience</h4>
          <ul class="experience__list">
            <li class="experience__list-item">
              <span class="company-name">Tribal Worldwide</span> | <span class="role">Midweight Front End Developer</span>
            </li>
            <li class="experience__list-item">
              <span class="company-name">Syzygy</span> | <span class="role">Senior Front End Developer</span>
            </li>
            <li class="experience__list-item">
              <span class="company-name">Cohaesus</span> | <span class="role">Midweight Front End Developer</span>
            </li>
          </ul>
        </div>
        <div class="projects">
          <h4 class="projects__title">Latest Project</h4>
          <ul class="projects__list">
            <li class="project">
              <span class="project__title"><span>Project Name: </span>EZKL</span>
              <span class="project__tech"><span>Tech: </span> ReactJS, ES6, Webpack, Flux</span>
              <span class="project__github"><span>GitHub: </span><a href="http://www.github.com/ezkl">http://www.github.com/ezkl</a></span>
            </li>
          </ul>
        </div>
        <i class="fa fa-chevron-down fa-3x" aria-hidden="true"></i>
        <span class="social-links">
          <a href="http://www.github.com/ezeikel"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
          <a href="https://uk.linkedin.com/in/ezeikel-pemberton-5bb53728"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
          <a href="http://www.twitter.com/ezeikel_"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        </span>
      </section>
      <section class="landing__blog-posts">
          {{ content }}
      </section>

    </div>

    {% include scripts.html %}
  </body>

</html>
