<!DOCTYPE html>
<html>

  {% include head.html %}
  {% include ga.html %}

  <body>
    <div class="landing-container">
      <h1>Ezeikel Pemberton</h1>
      <h2>Web Developer</h2>
      <ul class="contact-links">
        <li><i class="fa fa-twitter"></i><a href="http://www.twitter.com/ezeikel_">@ezeikel_</a></li>
        <li><i class="fa fa-linkedin"></i><a href="https://uk.linkedin.com/in/ezeikel-pemberton-5bb53728">http://lnkd.in/mXZmCv</a></li>
      </ul>
    </div>
    <script src="https://use.typekit.net/ndi2kff.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script src="js/main.js"></script>
  </body>

</html>
