<!DOCTYPE html>
<html>

  {% include head.html %}
  {% include ga.html %}

  <body>
    <div class="page-wrap landing">
      <section class="about-me">
        <h1 class="heading">Ezeikel Pemberton</h1>
        <h3 class="sub-heading"><span class="border">Web Developer</span></h3>
        <p class="intro">Hi, my name is Ezeikel and I am Web Developer with a real passion for Front End and JavaScript.
        <i class="fa fa-chevron-down fa-3x" aria-hidden="true"></i>
        <span class="social-links">
          <a href="#"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
        </span>
      </section>
      <section class="blog-posts">
        <h1 class="heading">Posts</h1>
          {{ content }}
      </section>

    </div>

    <script src="js/main.js"></script>
  </body>

</html>
