---
layout: default
---
<div class="p-post container-fluid">
  <div class="post">
    <div class="row">
      <div class="col-sm-12">
        <header class="post__header">
          <h1 class="post__title">{{ page.title }}</h1>
          <p class="post__meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} | {{ page.author }}{% endif %}{% if page.meta %} | {{ page.meta }}{% endif %}</p>
        </header>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <article class="post__content">
          {{ content }}
        </article>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-">
        <div class="post__comments">
          {% include disqus.html disqus_identifier=page.disqus_indentifier %}
        </div>
      </div>
    </div>
  </div>
</div>
