---
layout: default
---

<div class="page-wrap post">
  <header class="post__header">
    <h1 class="post__title">{{ page.title }}</h1>
    <h4 class="post__subtitle"></h4>
    <div class="post__image" style="background-image: url('{{ site.url }}assets/img/{{ page.image }}')"></div>
    <p class="post__meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} | {{ page.author }}{% endif %}{% if page.meta %} | {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post__content">
    {{ content }}
  </article>
  <div class="post__comments">
    {% include disqus.html disqus_identifier=page.disqus_indentifier %}
  </div>
</div>
