@mixin keyline-top($color, $padding-bottom, $width ) {
  position: relative;
  display: inline-block;
  padding-bottom: $padding-bottom;
  margin-bottom: var(--spacing-tiny);
  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 3px;
    width: $width;
    background-color: $color;
  }
}
