// Breakpoints
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 960px;

// Colors
$color-white: #fff;
$color-black: #333;
$color-primary: #1abc9c;

// Fonts
$primary-font-family: "museo-sans", sans-serif;

// Font Sizes
$browser-context: 16;
$base-font-size: rem(16px);

// Font Colours
$primary-text-color: $color-black;
