// Breakpoints
$bp-xs: 320px;
$bp-sm: 480px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1440px;

// Colors
$color-white: #fff;
$color-black: #333;
$color-primary: #1abc9c;

// Fonts
$primary-font-family: "museo-sans", sans-serif;

// Font Sizes
$browser-context: 16;
$base-font-size: rem(16px);

// Font Colours
$primary-text-color: $color-black;
